In [2]:
# general
import os
import sys
import numpy as np
import pandas as pd

# plots
from IPython.display import Image
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
import seaborn as sns
sns.set()
from IPython.display import Image

# predictions
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Perceptron
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
%matplotlib inline

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.model_selection import StratifiedKFold

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
drivers = pd.read_csv("https://raw.githubusercontent.com/the-mcw/ML1/main/data/drivers_6.csv")

In [21]:
drivers.head()

,driverId,driverRef,nationality,raceId,pointsSeason,positionSeason,wins,constructorId,positionOrder,pointsRace,laps,rank,fastestLapTime,fastestLapSpeed,statusId,mean_stop,stops,year,round,date,country,age,minQ,ConstructorSeasonPoints,ConstructorSeasonPosition,ConstructorWins,ConstructorRacePoints,nextPodium,nextTop10,qualifyPosition
0,1,hamilton,British,969.0,18.0,2.0,0.0,131.0,2.0,18.0,57.0,6.0,1:27.033,219.351,1.0,7559.666667,1,2017,1,2017-03-26,Australia,32.214214,91.678,33.0,2.0,0.0,33.0,True,True,1.0
1,822,bottas,Finnish,969.0,15.0,3.0,0.0,131.0,3.0,15.0,57.0,2.0,1:26.593,220.465,1.0,7743.666667,1,2017,1,2017-03-26,Australia,27.576199,91.865,33.0,2.0,0.0,33.0,False,True,3.0
2,1,hamilton,British,842.0,22.0,3.0,0.0,1.0,8.0,4.0,56.0,5.0,1:41.512,196.575,1.0,15642.333333,4,2011,2,2011-04-10,Malaysia,26.253790,94.463,48.0,2.0,0.0,22.0,True,True,3.0
3,18,button,British,842.0,26.0,2.0,0.0,1.0,2.0,18.0,56.0,4.0,1:41.264,197.057,1.0,13642.800000,3,2011,2,2011-04-10,Malaysia,31.223092,94.421,48.0,2.0,0.0,22.0,False,True,2.0
4,1,hamilton,British,841.0,18.0,2.0,0.0,1.0,2.0,18.0,58.0,8.0,1:30.314,211.382,1.0,11817.000000,2,2011,1,2011-03-27,Australia,26.215460,94.974,26.0,2.0,0.0,26.0,False,True,2.0

In [22]:
rm_drivers = drivers.iloc[:, [0,3,4,11,17,18,23,29,8]]
rm_drivers['positionOrder'] = rm_drivers.sort_values('raceId').groupby(['driverId','year'])['positionOrder'].shift(-1)
rm_drivers.head()

C:\Users\Christopher\AppData\Local\Temp\ipykernel_37176\3975001964.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rm_drivers['positionOrder'] = rm_drivers.sort_values('raceId').groupby(['driverId','year'])['positionOrder'].shift(-1)

,driverId,raceId,pointsSeason,rank,year,round,ConstructorSeasonPoints,qualifyPosition,positionOrder
0,1,969.0,18.0,6.0,2017,1,33.0,1.0,1.0
1,822,969.0,15.0,2.0,2017,1,33.0,3.0,6.0
2,1,842.0,22.0,5.0,2011,2,48.0,3.0,1.0
3,18,842.0,26.0,4.0,2011,2,48.0,2.0,4.0
4,1,841.0,18.0,8.0,2011,1,26.0,2.0,8.0